/* Fonts */
@imput url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Tenali+Ramakrishna&display=swap');

/* clases */
.logo {
  width: 40%;
  box-align: left;
}

body {
  text-align: center;
  margin: 20%;
  margin-top: 0;
  border: 10 px;
  background-color: #000000;
}

h1 {
  color: #528FF8;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

h2 {
  color: #528FF8;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'Roboto Mono', monospace;
  color: #6680C2;
}

footer {
  padding: 5%;
  border-radius: 5%;
}

.bg {
  background-color: #F6F9FF;
  padding: 5%;
  margin-top: 5%;
  border-radius: 5%;
  border: 3px solid #528FF8;
}

.btn-style {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #528FF8;
  border-radius: 6px;
  border: 2px solid #6680C2;
}

.btn-style:hover {
  color: #528FF8;
  background-color: #ffffff;
}

.pass {
  text-align: left;
  margin-left: 17%
}

textarea {
  overflow: scroll;
  resize: none;
  margin-left: 0%;
  width: 70%
}

.copy-btn {
  background-image: url('https://image.flaticon.com/icons/svg/60/60990.svg');
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 10px;
  width: 5px;
  height: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.foot {
  color: #F6F9FF
}